.block-kind-bar {
    width: 30px;
    transition: width 0.3s;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #eee;
}

.block-kind-bar.expanded {
    width: auto;
}

.block-kind-bar .block-kind-content {
    width: auto;
}

.block-kind {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    user-select: none;
}


.block-kind:hover {
    background-color: #c3c3c3;
}