.preset-menu {
    width: 200px;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-y: auto;
    position: absolute;
    resize: horizontal;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    border-radius: 10px;
    z-index: 5;
}
