<div>
  <div class="preset-menu"
    [ngStyle]="{'margin-left.px': optionsBarWidth}"
  >
    <app-preset-menu-block
      [presetBlockInfo]="target_preset_block_info"
      (bufferBlockCreated)="onBufferBlockCreated($event)">
    </app-preset-menu-block>
  </div>

  <app-preset-menu-context
    (widthChange)="adjustSideMenu($event)"
    (toggle)="toggleOptionBar($event)"
    (blockKindSelected)="arrangeTargetBlocks($event)">
  </app-preset-menu-context>

  <app-preset-menu-buf-block
    [bufferBlock]="bufferBlock"
    (blockDropped)="onBlockDropped()">
  </app-preset-menu-buf-block>
</div>
