.block, .preset, .buf_block {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  user-select: none;
  align-items: center;
  justify-content: center;
  z-index: 4;
  transition: box-shadow 0.3s ease;
  pointer-events: auto;
}

.buf_block {
  box-shadow: 0 0 10px rgba(49, 49, 49, 0.5);
  z-index: 10;
}