:host {
  position: absolute;
}

.block, .preset, .buf_block {
  background-color: blue;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  user-select: none;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

.block.snapped {
  background-color: lightgreen;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); 
  border-color: green;
}
